body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.watch-container {
    font-size: 600;
    font-weight: bold;
    font-family: arial, helvetica, sans-serif;
    align-items: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.watch-container p {
    border: 1px solid;
    padding: 12px 15px 15px 100px;
    font-size: 40px;
    text-decoration: none;
    font-weight: normal;
    font-family: Arial, cursive, sans-serif;
    align-items: center;
    border-radius: 1rem;
    border-color: grey;
    box-sizing: border-box;
    box-shadow: 2rem;
    margin-left: 10px;
    margin-right: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}